.flat-dragon.dragging {
  height: 200px;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  margin: 1vh;
}

.drop-box {
  height: 400px;
  width: 400px;
  border: 1px dotted black;
  margin: 1vh;
}
